@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nunito', sans-serif;
}